@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,600;0,700;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.call-us{
	display:flex;
	justify-content:center;
	text-align:center;
	background-color: #F1EAD0;
}

.call-us p {
	color: #2D5427;
	text-align:center;
	margin-top: 20px;
	font-size: large;
	font-style: oblique;
}

body{
	background-color: #F1EAD0;
}

p{
	font-family: Roboto;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	color: #002308;
}

h1.title{
	margin-bottom: 20px;
	color: #002308;
	font-family: 'Chivo';
	font-size: 38px;
	word-spacing: 5px;
}

.main_container{
	position: relative;
}

.call-us{
	align-items:center;
}

/* Navigation bar */
.nav {
  height: 50px;
  width: 100%;
  background-color: #3C8E37;
  position: relative;
  justify-content: space-between;

}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-family: "Chivo";
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  color: #fff;
  padding-left: 15px;
  padding-top: 5px;
}

.nav-title a{
  text-decoration: none;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(138, 165, 110, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(60, 142, 55, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #2D5427;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/* Home Page Banner Image */
.banner_image{
	background: url("https://images.unsplash.com/photo-1599660869952-3852916ff82b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80") no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_content{
	text-align:right;
	color: #fff;
	text-shadow: 2px 4px 4px rgba(0, 75, 32, 0.6);
}

.banner_content h1{
	font-family: Chivo;
	font-size: 80px;
	margin-top: 33%;
	margin-left: 20%;
	margin-right: 2%;
}

/* Location, Hours, Contact */

.footer-info{
	background: #3C8E37;
	display: flex;
	justify-content: space-between;
}

.footer-info p{
	color:#fff;
}

.footer-info-item{
	margin-left: 10%;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 30%;
}

.footer-info-item h1{
	color: #fff;
	margin-bottom: 15px;
}

/* Footer */
.bottomfooter{
	width: 100%;
	background: #2D5427;
	padding: 20px 0;
  text-decoration: none;
}

.bottomfooter a{
	margin-left: 20px;
	color: #fff;
  text-decoration: none;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;
	}
}


/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
	background-color: #F1EAD0;
    min-height: 375px;
    position: relative;
    padding-top: 50px;
}

#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  border: 2px solid #8AA56E;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #8AA56E;
  border: 2px solid #8AA56E;
}

.testimonial4_header h4{
  color: #002308;
  font-size: 100px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 170px;
    height: 170px;
    margin: auto;
    display: block;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    font-size: 22px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  font-size: 30px;
}

.testimonial .carousel {
	padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

/* ------testimonial  close-------*/


.diff_services{
	display: flex;
  justify-content: right;
}


.facebook{
  padding: 5px;
  width:3%;
  margin-left: 36%;
}

.yelp{
  padding:5px;
  width:3%;
}

.instagram{
  padding:5px;
  width:3%;
}

/* ------About Us Page-------*/

#main-media-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#media-title-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  width: 90%;
}

#media-title-description h1 {
  font-size: 45px;
}

#media-title-description p {
  margin-top: 1%;
}

#media-video-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  padding: 3% 2% 3% 2%;
  border-radius: 10px;
}

#media-text {
  margin-top: 17%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 40%;
  height: auto;
}

#media-text h2 {
  font-size: 30px;
  color:#2D5427;
}

#media-text p {
  font-size: 17px;
  margin-top: 3%;
}

#text-video-sperator {
  height: 20vh;
  border: solid 0.5px #2D5427;
}

#media-farmers{
  display: flex;
  flex-flow: column;
  height: auto;
}

#media-farmers img{
width: 500px;
border: 5px solid #2D5427;
}

#media-pumpkin{
  display: flex;
  flex-flow: column;
  height: auto;
}
/* ------About Us Close-------*/




#service-features {
  display: flex;
  flex-direction: row;
  /* Change flow-direction to "column" in the responsive design for the features to stack
  one on top of another. */
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 8%;
}

#features-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 60%;
}

#features-description h1 {
  font-size: 45px;
  font-family: Chivo;
  color:#2D5427;
}

#features-description p {
  font-weight: 400;
  font-size: 15pt;
}

#feature {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px #2D5427;
}

#feature img {
  max-width: 30%;
  max-height: 30%;
  padding-top: 5%;
}

#feature-title {
  margin-top: 5%;
}

#feature p {
  width: 70%;
  margin-top: 5%;
}

#feature-button {
  border: none;
  margin-top: 30%;
  width: 12vh;
  height: 5vh;
  border-radius: 15px;
  background-color: #3C8E37;
  color: white;
  font-size: 16px;
  margin-bottom: 20%;
}

#feature-button:hover {
  background-color: #8AA56E;
  cursor: pointer;
}

.pumpkin{
  width:25%;
  margin-bottom: 3px;
  margin-top: 10 px;
}

.flower{
  width:25%;
}

/* ------Fruit Baskets------*/


.fruity-title{
  font-family: Chivo;
  font-size: 40px;
  margin-top: 1%;
  color:#002308;
  margin-left:1%;
}
.baskets p{
  margin-left:1%;
  font-size: 20px;
  width: 50%;
  
}

hr.solid {
  border-top: 3px solid #bbb;
}

.watermelon{
  object-fit: cover;
  width: 430px;
  height: 430px;
  outline: 5px solid #2D5427;
}

.pumpkinpatch{
  object-fit: cover;
  width: 430px;
  height: 430px;
  outline: 5px solid #2D5427;
}

.trees{
  object-fit: cover;
  width: 430px;
  height: 430px;
  outline: 5px solid #2D5427;
}


/* ------Return to Top Button-------*/

#button {
  display: inline-block;
  background-color: #8AA56E;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "top";
  font-family: Chivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #3C8E37;
}
#button:active {
  background-color: #9dd3af;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* ------BUTTON END-------*/

/* relevant styles */
.img__wrap {
  position: relative;
  display: inline-block;
  padding: 30px;
}

.img__wrap h3{
  font-family: Chivo;
  color:#002308;
  padding: 20px;
}

.img__img {
  vertical-align: bottom;
  align-content: center;
  object-fit: cover;
  width: 360px;
  height: 360px;
  outline: 5px solid #2D5427;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(139, 165, 111,.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}


.img__description_layer p{
  font-family: Roboto;
  color:#fff;
  font-size: large;
}
